@media only screen and (max-width: 600px){
    .container {
        width: 100%;
    }
    .header{
        font-size: 16px;
    }
}

@media only screen and (min_width:601px) and (max-width: 1024px){
    .container{
        width:8 0%;
    }
    .header{
        font-size:20px;
    }
@media only screen and (max-width: 1025px){
    .container{
        width:80%;
    }
    .header{
        font-size:24px;
    }
}
}
